

<input 
type="text" 
appMyAutofocus 
ngxTypeahead
*ngIf="typeheadShowing"
class="editingInput"
[value]="value" 
(taSelected)="handleStaticResultSelected($event)" 
[taList]="states"
[taDisplayOnFocus]="true"
(blur)="blurHandler($event)"

appKeyLisn
(goAwayTo)="keyHandler($event)"

>
<input 

type="text" 
appMyAutofocus 
*ngIf="!typeheadShowing"
class="editingInput"
[value]="value" 
(taSelected)="handleStaticResultSelected($event)"
(keyup)="keyup($event)" 
(blur)="blurHandler($event)"

appKeyLisn
(goAwayTo)="keyHandler($event)"


>